/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set up basic typography */
body {
    padding-top: 12%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: #FBEEC1; /* Pale Yellow */
    color: #333;
}

.btn {
    background-color: #8D8741; /* Olive Green */
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #BC986A; /* Darker Olive Green */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Dropdown classes */
.dropdown-content {
    display: none;
}

header {
    background-color: #659DBD; /* Sky Blue */
    color: #fff;
    padding: 20px 0;
    text-align: center;
    background-image: url('/images/river-tree-landscape.jpg'); /* Mountainous landscape image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 12%; /* Adjust the height of the header */
    position: relative;
}

header::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Overlay color for better readability of text */
}

header h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    z-index: 1; /* Ensure text is above the overlay */
}

nav ul {
    list-style-type: none;
    z-index: 1; /* Ensure navigation is above the overlay */
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #DAAD86; /* Light Brown */
}

section {
    padding: 60px 0;
    text-align: center;
}

section h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #8D8741; /* Olive Green */
}

.dropdown-btn {
    cursor: pointer;
}

.dropdown-content p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #333;
}

/* Sticky menu. Will stay glued to the top of screen while scrolling */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

footer {
    background-color: #659DBD; /* Sky Blue */
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer p {
    font-size: 1rem;
}

/* Media query for smaller resolutions */
@media screen and (max-width: 768px) {
    .dropdown-btn {
        max-width: 150px; /* Adjust maximum width for smaller screens */
    }
}